@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');

/*adding personal preference and style */
.App {
  padding: 1em;
  background-size: cover;
  background-image: url("pic.jpg");
  color: white
}



label {
  display: inline-block;
  width: 100px;
}

h1{
  font-size: 50px;
}
/*correction - make header center*/
header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 15px;
}

/* typography */

html {
  font-family: 'helvetica neue', sans-serif;
}

thead th, tfoot th {
  font-family: 'Rock Salt';
  
}

th {
  letter-spacing: 2px;
  padding: 10px;
  color: blanchedalmond;

}

td {
  letter-spacing: 1px;
  overflow-x:hidden;
  overflow-y:hidden;
  font-size: 12px;
  padding: 10px;
  text-align: center;
  color: rgb(227, 231, 221);
}

/* table */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  overflow:hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border: 0.1px solid whitesmoke;
}

.content_td p {
  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;
  text-overflow: ellipsis;
}

/*correction - make image fit to page*/
img {
  display: flex;
  width: 100%;
  height: 100%;
}